.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.createDate {
    color: #888;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: auto;

    display: -webkit-box;
    -webkit-line-clamp: 2; // 보여줄 줄 수
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
}

.likes {
    color: #e74c3c;
    text-align: right;
}
