.sidebar {
    width: 100%;
}

.group {
    margin-top: 24px;
    margin-bottom: 24px;
}

.groupTitle {
    font-weight: bold;
    color: $color-accent;
    margin-bottom: 8px;
    font-size: 20px;
}

.link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.5px;
    color: #999;
}

.active {
    color: $color-primary; // 현재 페이지의 링크는 주색상으로 표시
    font-weight: bold;
}

.subLink {
    padding-left: 16px;
    margin-top: 4px;

    li {
        font-size: 0.9rem;
        color: #666;
    }
}
